body {
background-color: #2F2424;
}

h1 {
color: white;
text-align: center;
}

h2 {
color: white;
margin-left: 20px;
}
p {
color: white;
margin-left: 20px;
}
div {
    color: white;
    margin-left: 20px;
    text-align: center;
    }
